body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Major Mono Display", monospace;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  /* background: url("/images/screen.jpg") no-repeat center center; */
  background-size: cover;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 20px; /* Increased padding to give more space */
  background-color: #222;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  position: relative; /* Ensure the logo can be absolutely positioned relative to this container */
  z-index: 10;
}

.header .logo {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offset by half its size to truly center it */
  height: 65px; /* Adjusted to match your original size or make it proportional */
  width: 65px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header .logo:hover {
  transform: translate(-50%, -50%) scale(1.05); /* Maintain centering even when scaled */
}

.nav-left,
.nav-right {
  display: flex;
  flex: 1;
  justify-content: center; /* This will align the links to center in their respective spaces */
}

.header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 24px;
}

.header .nav-primary,
.header .nav-secondary {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.header .nav-primary:hover,
.header .nav-secondary:hover {
  background-color: white;
  color: black;
}

.filter-container {
  text-align: left; /* Aligns the content of the filter container to the left */
  margin: 20px 0px 10px 50px; /* Keeps the vertical margin */
  color: black; /* Sets the text color to white */
  font-weight: bold;
  font-size: 20px;
}

.filter-container select {
  margin: 10px;
  border-radius: 5px; /* Rounds the corners of the select box */
  background-color: white; /* Sets the background color of the select box to white */
  color: black; /* Sets the text color inside the select box to black */
  font-size: 16px; /* Sets the size of the text inside the select box */
}

.projects-grid {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.project-item {
  background: white;
  border: 1px solid #222;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item img {
  width: 100%;
  height: auto;
}

.project-title {
  padding: 10px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.75);
}

.next-button {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: white; /* Ensures the button background is black */
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  clear: both;
}

.next-button a {
  color: black; /* Ensures the link is visible against a black background */
  text-decoration: none;
  transition: color 0.3s ease;
}

.next-button a:hover {
  background-color: black;
  color: white;
}

.footer {
  background-color: #222;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: "Major Mono Display", monospace;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: fit-content;
  height: 120px;
}

.footer-section {
  flex: 1; /* Makes sure that each section can grow as needed */
}

.footer-section h4 {
  margin-bottom: 30px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 16px;
}

.footer-section ul li img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.footer-section ul li a:hover,
.footer-section a.social-link:hover {
  color: #00aaff;
}

.footer-section p,
.footer-section a {
  font-size: 16px;
  line-height: 1.8;
}

.footer-bottom {
  padding-top: 20px;
  font-size: 12px;
}

.footer-bottom p {
  font-size: 12px;
}

.social-links-container {
  display: flex;
  justify-content: center; /* Ensure horizontal alignment */
  gap: 20px; /* Space between each link */
}

.social-link {
  align-items: center; /* Vertically centers the contents */
  padding: 10px; /* Uniform padding around the image */
  background: rgba(255, 255, 255, 0); /* Transparent background */
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.social-link img {
  width: 28px;
  height: 28px;
}

.social-link:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Visible background on hover */
  transform: scale(1.1); /* Slightly enlarges the link on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds shadow for depth on hover */
}
