body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Major Mono Display", monospace;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  /* background: url("/images/screen.jpg") no-repeat center center; */
  background-size: cover;
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.logo {
  margin: 0 30px; 
  height: 70px; 
  width: auto; 
  transition: transform 0.3s, box-shadow 0.3s; 
}

.logo:hover {
  transform: scale(1.15); 
  box-shadow: none; 
}

.nav {
  color: black;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav a {
  color: inherit; /* Use color from parent element */
  text-decoration: none;
  margin: 0 15px; /* Adjust or remove margin as needed for spacing */
  font-size: 24px;
}

.nav:hover {
  transform: scale(1.1); /* Makes the text grow larger */
  color: gold; /* Text color change on hover */
}

body.dark-mode {
  background-color: #333;
  color: white;
}

/* You might want to change other elements specifically */
body.dark-mode .header, body.dark-mode .nav-text, body.dark-mode .footer {
  background-color: #333;
}

body.dark-mode a {
  color: #ddd;
}

.container {
  display: flex;
  flex-direction: row;  /* Align children horizontally */
  align-items: stretch;  /* Stretch the items to fill the container vertically */
  justify-content: center;  /* Center the items horizontally */
  width: 100%;
  height: 550px;  /* Set the height to full viewport height, adjust as necessary */
  padding: 0;  /* Adjust padding as needed */
  position: relative; /* Needed for absolute positioning of the pseudo-element */
}

.container::after {
  content: "";
  display: block;
  width: 80%;  /* Adjust this value to control the length of the border */
  height: 2px;  /* Thickness of the border */
  background-color: #CCCCCC;  /* Color of the border */
  position: absolute;
  bottom: 0;  /* Position at the bottom of the container */
  left: 50%;  /* Centers the border */
  transform: translateX(-50%);  /* Correctly centers the element */
}

.column-one {
  flex: 1;  /* Each column takes up equal space */
  display: flex;
  flex-direction: column;  /* Stack content vertically in each column */
  align-items: center;  /* Center content horizontally */
  text-align: center;
  font-size: 20px;  /* Adjust font size as needed */
  padding: 20px 0px 10px 0px;  /* Adjust padding as needed */
  height: 400px;  /* Adjust height as needed */
}

.column-one h2 {
  font-size: 40px;  /* Adjust font size as needed */
  margin: 30px 0px 50px 0px;  /* Adjust margin as needed */
}

.column-two {
  flex: 1;  /* Each column takes up equal space */
  display: flex;
  justify-content: space-between;
  flex-direction: column;  /* Stack content vertically in each column */
  align-items: center;  /* Center content horizontally */
  padding: 20px 0px 10px 0px;  /* Adjust padding as needed */
  height: 500px;  /* Adjust height as needed */
}

.column-two form {
  width: 60%; /* Increased width for larger display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px; /* Increases max width for form */
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.column-two form h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px; /* Increased spacing for better separation */
  color: black;
}

.column-two form input,
.column-two textarea,
.column-two form button {
  width: 100%;
  padding: 12px; /* Increased padding for better form usability */
  margin: 12px 0; /* Increased spacing between form elements */
  border-radius: 5px;
  border: 1px solid #ccc;
  background: white;
  color: black;
  font-size: 16px;
}

.column-two form button {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: background-color 0.3s ease-in-out;
  font-family: "Major Mono Display", monospace;
}

.column-two form button:hover {
  background-color: gold;
  color: black;
}

.contact-info {
  width: 60%; /* Adjusted width for better layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0); /* Darker background for contrast */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /* More prominent shadow for depth */
}

.contact-info h2 {
  color: black;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  gap: 20px; /* Increase gap for better vertical spacing */
  font-size: 30px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center; /* Ensures content is centered within each link */
  padding: 18px 20px; /* Increase padding for a larger touch area */
  color: black;
  background: rgba(
    255,
    255,
    255,
    0
  ); /* Light translucent background for links */
  border-radius: 8px; /* Slightly larger radius for a softer look */
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  width: 90%; /* Increase width to better accommodate longer text */
  max-width: 500px; /* Sets a maximum width to prevent excessively wide buttons */
}

.social-link img {
  width: 28px; /* Slightly larger for visibility */
  height: 28px;
  margin-right: 10px; /* Adjusted spacing between icon and text */
}

.social-link:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Darkens background on hover */
  transform: scale(1.1); /* Slightly enlarges the link for interactivity */
}

.nav-text {
  width: 100%;
  text-align: center;
  background-color: transparent; /* Ensures the button background is black */
  font-size: 24px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  clear: both;
  margin: 30px 0px 0px 0px;
}

.nav-text a {
  color: black; /* Ensures the link is visible against a black background */
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-text a:hover {
  transform: scale(1.1); /* Makes the text grow larger */
  color: gold; /* Text color change on hover */
}
